.button-primary {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    letter-spacing: 0.0156rem;
    padding: 0.625rem;
    color: var(--color-primary);
    background: var(--color-black);
    text-transform: capitalize;
    border-radius: 0.75rem;
    border: 0px;
    cursor: pointer;
}
